@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&family=Xanh+Mono:ital@1&display=swap');




$header_footer-font: 'Kaushan Script', cursive;
$header_font_size: 1.85em;

$navbar-font:'Kalam', cursive;
$navbar_font_size: 1.20em;

$body-font:'Poiret One', cursive;
$body_font_size: 1.25em;